body{
	margin: 0;
	padding: 0;
}
.sheng{
	
}
.sheng1{
	list-style: none;
	
}
a{
	text-decoration: none;
}
a:hover{
	color: coral;
}
.sheng dt{
	float: left;
}
.sheng1 li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.view{
	
	
}
.view1{
	clear: both;
	border-top: 2px solid red;
	
}
.photo{
	float: left;
	clear: left;
	position: relative;
	top: 20px;	
	left: 10px;	
}
h3{
	float: left;
	position: relative;
	left: 25px;
	top: 10px;
}
.view1 .dizhi1{
	float: left;
	position:relative;
	left: -135px;
	top: 70px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.view2 .dizhi1{
	float: left;
	position:relative;
	left: -170px;
	top: 70px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.view3 .dizhi1{
	float: left;
	position:relative;
	left: -205px;
	top: 70px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.price{
	position: relative;
	right: 635px ;
	bottom: 70px;
	float: right;
	color: red;
	clear: both;
}
.ticket{
	font-size: 25px;
}
.yuding{
	background-color: orangered;
	float: right;
	position: relative;
	right: 550px;
	bottom: 30px;
	
	padding: 3px 17px 3px 17px;
}
.view2{
	clear: both;
	border-top: 2px solid red;
	
}
.view3{
	clear: both;
	border-top: 2px solid red;
	
}
