body{
	margin: 0;
	padding: 0;
}
.sheng{
	
}
.sheng1{
	list-style: none;
	
}
a{
	text-decoration: none;
}
a:hover{
	color: coral;
}
.sheng dt{
	float: left;
}
.sheng1 li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.view1{
	clear: both;
	border-top: 2px solid red;
	
}
.photo{
	float: left;
	clear: left;
	position: relative;
	top: 20px;	
	left: 10px;	
}
h3{
	float: left;
	position: relative;
	left: 25px;
	top: 10px;
}
.dizhi{
	clear: both;
	float: left;
	position: relative;
	left: 226px;
	bottom: 60px;
	font-size: 16px;
	font-family: "微软雅黑";
}

.price{
	position: relative;
	right: 635px ;
	bottom: 130px;
	float: right;
	color: red;
	clear: both;
}
.ticket{
	font-size: 25px;
}
.yuding{
	background-color: orangered;
	clear:both;
	float: right;
	position: relative;
	right: 650px;
	bottom: 110px;
	
	padding: 3px 17px 3px 17px;
}

